Jupyter notebooks can contain Markdown (formatted text) or Python code.

This is a Markdown cell.

Below are Python cells. You can perform standard arithmetic in Python cells.

In [1]:
3 + 7

10

In [2]:
7 * 4

28

You can assign values to variables using `=`. This doesn't print any values out.

In [3]:
age = 42

In [4]:
age

42

Values include integers (above) and strings (of characters).

In [5]:
first_name = 'Charles'
first_name

'Charles'

In [6]:
Charles

NameError: name 'Charles' is not defined

Variable names are case-sensitive. `Age` is different from `age`.

In [7]:
Age

NameError: name 'Age' is not defined

You can evaluate series of code statements by putting them on different lines.

In [8]:
age
first_name

'Charles'

As you see above, only the last-evaluated statement is printed. To print multiple statements, use the `print()` functions

In [9]:
print(age)
# Do something in code in between 
print(first_name)

42
Charles

You can also print multiple variables, by separating them by commas.

In [10]:
print('In three years', first_name, 'will be', age + 3, 'years old.')

In three years Charles will be 45 years old.

In [11]:
first_name_company = 'genentech'

In [12]:
first_name_company

'genentech'

You can type the start of a variable, such as `first_`, then press `Tab` to see a list of suggestions.

`whos` lists all local variable names, types, and values.

In [13]:
whos

Variable             Type    Data/Info
--------------------------------------
age                  int     42
first_name           str     Charles
first_name_company   str     genentech

If you make a typo, you can delete variables using the `del` keyword, although it's recommended that you fix the typo and restart your kernel instead (Refresh icon above).

In [14]:
del age

In [15]:
age

NameError: name 'age' is not defined

In [16]:
whos

Variable             Type    Data/Info
--------------------------------------
first_name           str     Charles
first_name_company   str     genentech

You can change the value of variables by reassigning them. You can even assign variables to values of a different type (`int` to `str` below), and this will update the variable type.

In [17]:
age = 42
age = '53'

In [18]:
whos

Variable             Type    Data/Info
--------------------------------------
age                  str     53
first_name           str     Charles
first_name_company   str     genentech

Strings are sequences of characters. You can subselect specific characters using square brackets `string_name[index]`. Indexing starts at `0` (not `1`), similar to how the ground floor is the `0`th floor in UK, and the `1`st floor is `1` floor *offset* from the ground.

In [19]:
atom_name = 'helium'
print(atom_name[0])
print(atom_name[3])

h
i

You can select subsequences of strings by using `[low_index:high_index]`

In [21]:
print(atom_name[0:2])

he

In [22]:
print(atom_name[0:4])

heli

Negative indices count backwards from the end of the string. `-1` is the last character, `-2` is the second to last character, etc.

In [23]:
atom_name = 'helium'
print(atom_name[-1])

m

`len()` provides the length of the string (number of characters). Spaces are included in the length

In [24]:
print(atom_name)
print(len(atom_name))

helium
6

In [25]:
print('Length of atom_name is', len(atom_name))

Length of atom_name is 6

In [26]:
atom_name = 'helium'
atom_name_length = len(atom_name)
print(atom_name_length)

6

Values are only assigned when you re-run a code block, so don't forget to update a value that needs to be used. Below, `atom_name_length` is still 6 until it gets reassigned.

In [27]:
atom_name = 'hydrogen'
print(atom_name_length)
atom_name_length = len(atom_name)
print(atom_name_length)

6
8

## Variable types
You can get the data type of a variable using `whos` or the `type()` functions. `class` indicates that `int`, `str`, `builtin_function_or_method` are *types* of objects.

In [28]:
whos

Variable             Type    Data/Info
--------------------------------------
age                  str     53
atom_name            str     hydrogen
atom_name_length     int     8
first_name           str     Charles
first_name_company   str     genentech

In [29]:
print(type(print))

<class 'builtin_function_or_method'>

In [30]:
print(type(3))

<class 'int'>

In [31]:
print(type(first_name))

<class 'str'>

The variable type determines what operations we can perform on the variables. We can subtract integers. We cannot subtract strings.

In [32]:
print(5 - 3)

2

In [33]:
print('helloh' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [34]:
print('hello' - 3)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

We can `+` strings. This puts the strings together (without any spaces)

In [35]:
print('hello' + 'my' + 'name' + 'is')

hellomynameis

If we can `+` strings, then multiplication (`*`) is the same as addition multiple times. These two cells are equivalent.

In [36]:
'hello' * 3

'hellohellohello'

In [37]:
'hello' + 'hello' + 'hello'

'hellohellohello'

String multiplication is useful when it is tedious to write out a string many times.

In [38]:
print('=' * 20)
print('important text')
print('=' * 20)

====================
important text
====================

Note that strings that "represent" integers are still strings. Most programming languages (including Python) require you to be specific about the desired operation. Below, `'234' * 2` repeats the string, instead of multiplying the value. You can convert the string to an integer first using `int()`.

In [39]:
number_string = '234'
print(number_string * 2)

234234

In [40]:
int(number_string) * 2

468

The one exception is that Python will convert between integers and floats (decimals) as necessary. Note that there can be slight precision errors with floats.

In [41]:
2 + 2.4

4.4

In [42]:
10 / 3

3.3333333333333335

`^` is saved for binary operations, not powers

Two asterisks, no-space (`**`) indicate the power operation

In [43]:
three_squared = 3**2
print(three_squared)

9

## Some common errors

In [44]:
# Be sure to close quotation marks, brackets, and parentheses
name = 'Charles

SyntaxError: EOL while scanning string literal (<ipython-input-44-69d995214786>, line 2)

In [45]:
# Extra equals sign, without a space
age = = 52

SyntaxError: invalid syntax (<ipython-input-45-292ace4229d2>, line 2)

In [46]:
age == 52 # <- `==` is valid syntax but not always what you want.

False

## Documentation
It is good practice to document and comment your code, so future readers can understand your approach.

You can do all sorts of formatting with Markdown. For example:
```markdown
# Documentation text
## Header 2
Here is some text.
Include bullet points:
* bullet 1
* bullet 2
```
prints out the following:
# Documentation text
## Header 2
Here is some text.
Include bullet points:
* bullet 1
* bullet 2

In [ ]:
# You can also comment in Code-blocks using hashtags
print(1234) # comments can also go on the same line as code, but be careful of extra-long comments that are difficult to read (like this one)

In `.py` files, you may also see triple-quotes:
```python
'''
Multi-line comment
here
'''
```
to indicate comments. This doesn't work in Jupyter notebooks.

In [ ]:
# Comment things using hashtags in Jupyter

^ is saved for binary operations